<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ldkspringbase.mapper.BoardMapper">

    <select id="getAllBoards" resultType="com.ldkspringbase.entity.BoardEntity">
        SELECT  *
        FROM    boards;
    </select>

    <select id="getBoardById" parameterType="int" resultType="com.ldkspringbase.dto.BoardDto">
        SELECT  user_id, title, content
        FROM    boards
        WHERE   id = #{id}
    </select>

    <insert id="createBoard" parameterType="com.ldkspringbase.dto.BoardDto">
        INSERT INTO boards (user_id, title, content)
        VALUES  (#{userId}, #{title}, #{content})
    </insert>

    <update id="updateBoard" parameterType="map">
        UPDATE  boards
        SET     title = #{boardDto.title}, content = #{boardDto.content}
        WHERE   id = #{id}
    </update>

    <delete id="deleteBoard" parameterType="int">
        DELETE
        FROM    boards
        WHERE   id = #{id}
    </delete>

    <insert id="registerMember" parameterType="com.ldkspringbase.entity.BoardEntity">
        INSERT INTO boards (user_id, title, content)
        VALUES  (#{userId}, #{title}, #{content}})
    </insert>

    <select id="getMemberByIdAndPassword" parameterType="java.lang.String" resultType="com.ldkspringbase.dto.BoardDto">
        SELECT  *
        FROM    boards
        WHERE   member_id = #{id}
          AND   member_password = #{password}
    </select>

</mapper>
